<!DOCTYPE html>
<html>
  <head>
    <title>Wishlist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <ul> 
  <h1>Wishful</h1>
 <% if logged_in?%>
  <li><p>Signed in as <%= current_user.username %></p>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to "Logout", sessions_path, method: :delete %></li>
  <li><%= link_to  "Find Friends", users_path %></li>
  <li><%= link_to "My WishList"%>

  <% end %>
  
      
      </ul>

    <%= yield %>
  </body>
</html>
